<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {{!-- INDEX.CSS STYLE FILE --}}
        <link rel="stylesheet" href="/css/home.css" type="text/css"/>

        {{!-- MATERILIAZE CSS STYLE FILE --}}
        <link rel="stylesheet" href="/css/materialize.css" type="text/css"/>

        {{!-- BOOTSTRAP STYLE FILE --}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {{!-- GOOGLE FONTS --}}
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

        {{!-- MATERIALIZE ICONS  --}}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
        
        {{!-- JQUERY CDN  --}}
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        {{!-- BOOTSTRAP JQUERY --}}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

         <div class='purple-bar'>
        <img src="/images/logo7.png" alt="logo" id='logo_header'>
        </div>


    {{!-- NAV BAR DIV --}}
      <div class="header clearfix">
        <nav id='navbar'>
          <ul class="nav nav-pills float-right" >
            <li class="nav-item">
              <a class="nav-link active" href="/home">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">PROFILE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">EVENTS</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/snagadate">SNAG A DATE</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>

            </ul>
          </nav>
        </div>
        
